body {
  padding: 0;
  margin: 0;
  background-color: lightgray;
  font-family: Verdana, Arial, sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

#map,
body,
html {
  height: 97%;
}
